<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Employee CRUD</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Create Employee</a>
      <a href="/employees">View Employees</a>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
